* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #56a3a6;
  color: yellow;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
}

.aboutMe {
  background-color: #084c61;
  padding: 40px;
  font-size: 20px;
  color: white;
}

.footer {
  background-color: #084c61;
  color: white;
  margin-bottom: 0%;
}
